{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": ["@babel/plugin-transform-runtime", "babel-plugin-styled-components"],
  "only": [
    "./src/assets/**/*",
    "./src/components/**/*",
    "./src/config/**/*",
    "./src/hooks/**/*",
    "./src/styles/**/*"
  ],
  "ignore": [ "./src/**/*.test.js" ]
}
